.post {
  margin-bottom: 20px;
  display: flex;
  padding: 10px;
}

.post img {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

.post .content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post .content .loading {
  background-color: white;
  height: 100px;
}

.post .content p{
  margin: 0 0 10px 0;
}


.post .form {
  display: flex;
  margin: 10px;
}

.post .form button{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}


.post .content .footer{
  display: flex;
  justify-content: space-between;
  width: 300px;
}


.post .bot{
  padding: 10px;
  background-color: white;
}