.post {
  margin: 10px 0 10px 0;
  display: flex;
  padding: 10px;
  border: solid black 1px;
}

.post img {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

.post .content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post .content p{
  margin: 0 0 10px 0;
}

.post .content .footer{
  display: flex;
  justify-content: space-between;
  width: 300px;
}


.post .bot{
  background-color: white;
}