.formInput {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.formInput.big label{
  font-size: 12px;
  margin-bottom: 5px;
}

.formInput label{
  font-size: 10px;
}

.formInput span{
  color: red;
}

.formInput.big input{
  font-size: 18px;
  border: solid #cccccc 1px;
}