
.form {
  display: flex;
  margin: 0px 0 10px 0;
}

.form button{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.formTextArea {
  resize: none;
  flex: 1;
  height: 68px;
  margin: 0;
  padding: 5px;
  overflow: hidden;
}