.header {
  background: rgb(6, 50, 152);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
}

.header .logo img{
  height: 60px;
}

.header .greedings {
  width: 425px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  color: white;
}

.header .login {
  width: 425px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.header .login button{
  height: 25px;
  padding: 0;
}

