
.wall {
  width: 800px;
  margin: 20px;
  background-color: white;
  padding: 20px;
}

.wall .loading {
  height: 100px;
  text-align: center;
}

.wall .error {
  text-align: center;
}

.wall .more {
  height: 75px;
  width: 100%;
  font-size: 24px;
}

.wall .form {
  display: flex;
}

.wall .form button{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}


